<?xml version="1.0"?>

<model>
  <name>Road_hard_curve</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Tiberio</name>
    <email>tiberiusferreira@gmail.com</email>
  </author>

  <description>
    A simple street model I got from the internet(http://www.reallusion.com/iclone/3dx.asp).
  </description>

</model>
